$bgDim: 0.2;

:host {
	//background: #e91e63;
	background-image: linear-gradient(
			0deg,
			rgba(#1d1f21, $bgDim),
			rgba(#1d1f21, $bgDim)
		),
		url(../../assets/bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.logo {
		height: 100px;
		width: 100%;
		background-image: url(../../assets/logo-light-alpha.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: auto 100%;
		margin-bottom: 32px;
	}

	.content {
		width: 400px;
		padding: 32px;
		border-radius: 4px;
		background: #fff;
	}
}

.logging-in {
	position: fixed;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	background: rgba(#1d1f21, 0.8);
	font-weight: 500;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #fff;

	.mat-progress-spinner ::ng-deep circle {
		stroke: #fff;
	}
}
