.launch-bar {
	width: 100%;
	height: 64px;
	background: #e91e63;
	color: #fff;

	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

	table {
		width: 100%;
		table-layout: fixed;
	}

	.buttons {
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		// width: 300px; // set in html, this should be redesigned
		display: flex;

		.disable-vr {
			overflow: visible;
			padding-left: 16px;
			display: flex;
			align-items: center;

			::ng-deep mat-checkbox {
				.mat-checkbox-layout {
					transform: scale(1.2);
				}

				.mat-checkbox-frame {
					border-color: rgba(#fff, 0.8);
				}

				&.mat-checkbox-checked .mat-checkbox-background {
					background-color: mix(#e91e63, #fff, 20%);
				}

				.mat-checkbox-checkmark-path {
					stroke: #e91e63 !important;
				}
			}

			> p {
				margin: 0;
				margin-left: 8px;
				white-space: nowrap;
				color: rgba(#fff, 0.8);
				cursor: pointer;
			}
		}
	}

	.user-image {
		width: 36px;
		height: 36px;
		border-radius: 50%;
	}
}
