*node_modules*
/dist
/out
/electron/dist
/interface*
package-lock.json
.DS_Store
*.p12
*.pfx
electron-builder.env
yarn-error.log
/.gitlab/interface.zip
/assets-projects/mac/*.png
/assets-projects/mac/*.tiff