<div class="content">
	<div>
		<video
			#preview
			class="preview"
			autoplay
			[srcObject]="
				tokboxStreamService.ready ? tokboxStreamService.stream : null
			"
		></video>
		<mat-progress-bar
			mode="indeterminate"
			*ngIf="tokboxStreamService.active && !tokboxStreamService.ready"
		></mat-progress-bar>
		<br *ngIf="!tokboxStreamService.active && !tokboxStreamService.ready" />
		<div style="margin-top: 8px;">
			<table style="width: 100%; height: 72px">
				<tr style="vertical-align: top;">
					<td style="width: 0;">
						<button
							*ngIf="!tokboxStreamService.ready"
							mat-stroked-button
							(click)="onStart()"
							[disabled]="
								tokboxStreamService.active &&
								!tokboxStreamService.ready
							"
						>
							<mat-icon>play_arrow</mat-icon> Start sharing
						</button>
						<button
							*ngIf="tokboxStreamService.ready"
							mat-stroked-button
							(click)="onStop()"
							[disabled]="
								tokboxStreamService.active &&
								!tokboxStreamService.ready
							"
						>
							<mat-icon>stop</mat-icon> Stop sharing
						</button>
						<button
							style="margin-left: 16px"
							*ngIf="!tokboxStreamService.ready"
							mat-stroked-button
							(click)="onSettings()"
							[disabled]="
								tokboxStreamService.active &&
								!tokboxStreamService.ready
							"
						>
							<mat-icon>settings</mat-icon> Settings
						</button>
					</td>
					<td
						*ngIf="tokboxStreamService.viewerLink"
						style="width: 100%; padding-left: 16px;"
					>
						<mat-form-field style="width: 100%;">
							<input
								matInput
								placeholder="Shareable link"
								[value]="tokboxStreamService.viewerLink"
							/>
						</mat-form-field>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
