:host {
	display: block;
	height: 100%;
	//background-image: url(../../../assets/bg.jpg);
	background-image: url(https://tivolicloud.com/getstartedsnapsot.PNG);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
