.launcher {
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;

	.header {
		padding: 8px;
		background: #fff;
		display: flex;

		button {
			margin-right: 8px;
		}

		button.active {
			background: rgba(#1d1f21, 0.1);
		}
	}

	.content {
		flex-grow: 1;
	}
}
