<div class="launcher">
	<div class="header">
		<button mat-button routerLink="home" routerLinkActive="active">
			<mat-icon>home</mat-icon> Home
		</button>

		<button
			*ngIf="settingsService.getSetting('videoStreaming') | async"
			mat-button
			routerLink="video-stream"
			routerLinkActive="active"
		>
			<mat-icon>screen_share</mat-icon> Stream Video
		</button>

		<button
			*ngIf="settingsService.getSetting('tokboxStreaming') | async"
			mat-button
			routerLink="tokbox-stream"
			routerLinkActive="active"
		>
			<mat-icon>screen_share</mat-icon> Stream Video (TokBox)
		</button>

		<span style="flex-grow: 1;"></span>

		<button mat-button (click)="onCheckForUpdates()">
			<mat-icon>update</mat-icon> Check for updates
		</button>

		<button mat-button routerLink="settings" routerLinkActive="active">
			<mat-icon>settings</mat-icon> Settings
		</button>

		<button
			mat-flat-button
			color="warn"
			style="margin-right: 0;"
			*ngIf="running"
			(click)="onForceClose()"
		>
			<mat-icon>close</mat-icon> Force close Tivoli
		</button>
	</div>
	<div class="content">
		<router-outlet></router-outlet>
	</div>
	<app-launch-bar></app-launch-bar>
</div>
