<div class="settings">
	<div class="center">
		<div>
			<h2><mat-icon>settings</mat-icon> General</h2>
			<mat-slide-toggle
				[checked]="
					settingsService.getSetting('discordRichPresence') | async
				"
				(change)="updateSettingChecked('discordRichPresence', $event)"
			>
				Discord Rich Presence
			</mat-slide-toggle>
			<mat-slide-toggle
				[checked]="
					settingsService.getSetting('settingsSyncing') | async
				"
				(change)="updateSettingChecked('settingsSyncing', $event)"
			>
				Settings Syncing
			</mat-slide-toggle>

			<div style="padding: 8px 0;"></div>

			<h2><mat-icon>code</mat-icon> Developer</h2>
			<mat-form-field>
				<input
					matInput
					placeholder="Additional launch arguments"
					[value]="settingsService.getSetting('launchArgs') | async"
					(change)="updateSettingString('launchArgs', $event)"
				/>
			</mat-form-field>
			<p
				style="font-size: 0.8em; opacity: 0.8; margin: 0; margin-top: -12px;"
			>
				e.g. --remote-debugging-port=9222
			</p>
		</div>
		<div>
			<h2><mat-icon>developer_board</mat-icon> Experimental</h2>
			<mat-slide-toggle
				[checked]="settingsService.getSetting('videoStreaming') | async"
				(change)="updateSettingChecked('videoStreaming', $event)"
				style="text-decoration: line-through;"
			>
				Video streaming <span>(p2p w/ WebRTC, WebM)</span>
			</mat-slide-toggle>
			<mat-slide-toggle
				[checked]="
					settingsService.getSetting('tokboxStreaming') | async
				"
				(change)="updateSettingChecked('tokboxStreaming', $event)"
			>
				TokBox streaming <span>(distributed w/ tokbox.com)</span>
			</mat-slide-toggle>
		</div>
	</div>
</div>
