.settings {
	display: flex;
	width: 100%;
	height: calc(100% - 32px);
	align-items: center;
	justify-content: center;

	.center {
		display: flex;
		align-items: flex-start;
		justify-content: center;

		> div {
			width: 350px;
		}

		h2 > mat-icon {
			vertical-align: middle;
			margin-bottom: 4px;
		}

		mat-slide-toggle {
			margin-bottom: 8px;

			span {
				font-size: 0.8em;
				opacity: 0.8;
			}
		}

		mat-form-field {
			width: 100%;
		}
	}

	button[disabled] {
		.mat-progress-spinner ::ng-deep circle {
			stroke: rgba(#000, 0.26);
		}
	}
}
