<h2 style="margin-top: 0;"><b>Old Tivoli launcher</b> is still installed</h2>
<!-- <p>
	You could try <b>relaunching Tivoli</b>, it may be a one-off thing.
	<br />
	<br />
	However, if you're crashing over and over, you could try
	<b>resetting your settings.</b>
</p> -->
<p>
	Tivoli has a new launcher with automatic updates and we need to remove the
	old one.
	<br /><br />
	Below you can locate and manually delete its folder. You only need to do
	this once.
</p>
<div style="margin: 24px 0;"></div>
<div class="buttons">
	<button mat-flat-button (click)="onDismiss()">Dismiss</button>
	<button mat-flat-button color="primary" (click)="onOpenOldLauncherFolder()">
		<mat-icon>folder_open</mat-icon> Open old Launcher folder
	</button>
</div>
