<button
	mat-flat-button
	(click)="onLaunch()"
	[disabled]="running"
	[class.updating]="updating"
>
	<div class="update-progress-bar" [style.left]="progress + '%'"></div>
	<div class="content">
		<div class="icon">
			<mat-icon *ngIf="!running && !updating">
				launch
			</mat-icon>
			<mat-progress-spinner
				*ngIf="running || updating"
				diameter="28"
				strokeWidth="4"
				color="primary"
				mode="indeterminate"
			>
			</mat-progress-spinner>
		</div>
		<div class="text">
			<ng-container *ngIf="!updating">
				<ng-container *ngIf="!running">
					Launch Tivoli client
				</ng-container>
				<ng-container *ngIf="running">
					Tivoli is now running!
				</ng-container>
			</ng-container>
			<ng-container *ngIf="updating">
				Updating Tivoli...
			</ng-container>
			<br />
			<span *ngIf="!updating">
				using
				<ng-container
					*ngIf="
						(settingsService.getSetting('interfacePathEnabled')
						| async)
							? (settingsService.getSetting('interfacePath')
							  | async)
							: false;
						else currentVersionRef
					"
				>
					<b style="color: #f44336; font-weight: 700;">
						custom path!
					</b>
				</ng-container>
				<ng-template #currentVersionRef>
					version {{ currentVersion }}
				</ng-template>
			</span>
			<span *ngIf="updating">
				{{ progress.toFixed(0) }}% complete ({{
					progressFileSize.toFixed(0)
				}}
				MB)</span
			>
		</div>
	</div>
</button>
