<div class="settings">
	<div class="center">
		<div>
			<h2 style="margin-bottom: 8px;">
				<mat-icon>build</mat-icon> Developer
			</h2>
			<mat-form-field>
				<mat-label>Additional launch arguments</mat-label>
				<input
					matInput
					[value]="settingsService.getSetting('launchArgs') | async"
					(change)="updateSettingString('launchArgs', $event)"
				/>
				<!-- <mat-hint>e.g. --arg=value</mat-hint> -->
			</mat-form-field>

			<mat-form-field>
				<mat-label>Additional environment variables</mat-label>
				<input
					matInput
					[value]="settingsService.getSetting('launchEnv') | async"
					(change)="updateSettingString('launchEnv', $event)"
				/>
				<mat-hint>e.g. QTWEBENGINE_REMOTE_DEBUGGING=9222</mat-hint>
			</mat-form-field>

			<div style="padding: 8px 0;"></div>

			<div style="display: flex; align-items: center;">
				<mat-slide-toggle
					[checked]="
						settingsService.getSetting('interfacePathEnabled')
							| async
					"
					(change)="
						updateSettingChecked('interfacePathEnabled', $event)
					"
				></mat-slide-toggle>
				<div style="margin: 0 8px;"></div>
				<mat-form-field>
					<mat-label>
						Interface directory (where executable is)
					</mat-label>
					<input
						matInput
						[disabled]="
							!(
								settingsService.getSetting(
									'interfacePathEnabled'
								) | async
							)
						"
						[value]="
							settingsService.getSetting('interfacePath') | async
						"
						(change)="updateSettingString('interfacePath', $event)"
					/>
				</mat-form-field>
			</div>

			<div style="display: flex; align-items: center;">
				<mat-slide-toggle
					[checked]="
						settingsService.getSetting('metaverseUrlEnabled')
							| async
					"
					(change)="
						updateSettingChecked('metaverseUrlEnabled', $event)
					"
				></mat-slide-toggle>
				<div style="margin: 0 8px;"></div>
				<mat-form-field>
					<mat-label>
						Metaverse URL (Tivoli testing only)
					</mat-label>
					<input
						matInput
						[disabled]="
							!(
								settingsService.getSetting(
									'metaverseUrlEnabled'
								) | async
							)
						"
						[value]="
							settingsService.getSetting('metaverseUrl') | async
						"
						(change)="updateSettingString('metaverseUrl', $event)"
					/>
				</mat-form-field>
			</div>

			<div style="display: flex; align-items: baseline;">
				<mat-form-field>
					<mat-label>Current access token</mat-label>
					<input matInput #tokenInput disabled [value]="token" />
				</mat-form-field>
				<div style="margin: 0 4px;"></div>
				<button
					mat-icon-button
					style="color: rgba(0, 0, 0, 0.55);"
					(click)="onCopyToken(tokenInput)"
				>
					<mat-icon>content_copy</mat-icon>
				</button>
			</div>
		</div>
	</div>
</div>
