<div class="settings">
	<div class="center">
		<div>
			<h2 style="margin-bottom: 8px;">
				<mat-icon>build</mat-icon> Developer
			</h2>
			<mat-form-field>
				<mat-label>Additional launch arguments</mat-label>
				<input
					matInput
					[value]="settingsService.getSetting('launchArgs') | async"
					(change)="updateSettingString('launchArgs', $event)"
				/>
				<mat-hint>e.g. --remote-debugging-port=9222</mat-hint>
			</mat-form-field>

			<div style="padding: 8px 0;"></div>

			<div style="display: flex; align-items: center;">
				<mat-slide-toggle
					[checked]="
						settingsService.getSetting('interfacePathEnabled')
							| async
					"
					(change)="
						updateSettingChecked('interfacePathEnabled', $event)
					"
				></mat-slide-toggle>
				<div style="margin: 0 8px"></div>
				<mat-form-field>
					<mat-label>
						Interface path (where executable is)
					</mat-label>
					<input
						matInput
						[disabled]="
							!(
								settingsService.getSetting(
									'interfacePathEnabled'
								) | async
							)
						"
						[value]="
							settingsService.getSetting('interfacePath') | async
						"
						(change)="updateSettingString('interfacePath', $event)"
					/>
				</mat-form-field>
			</div>

			<div style="display: flex; align-items: center;">
				<mat-slide-toggle
					[checked]="
						settingsService.getSetting('metaverseUrlEnabled')
							| async
					"
					(change)="
						updateSettingChecked('metaverseUrlEnabled', $event)
					"
				></mat-slide-toggle>
				<div style="margin: 0 8px"></div>
				<mat-form-field>
					<mat-label>
						Metaverse URL (Tivoli testing only)
					</mat-label>
					<input
						matInput
						[disabled]="
							!(
								settingsService.getSetting(
									'metaverseUrlEnabled'
								) | async
							)
						"
						[value]="
							settingsService.getSetting('metaverseUrl') | async
						"
						(change)="updateSettingString('metaverseUrl', $event)"
					/>
				</mat-form-field>
			</div>

			<mat-form-field>
				<mat-label>Current access token</mat-label>
				<input matInput disabled [value]="token" />
			</mat-form-field>
		</div>
	</div>
</div>
