.world-selector {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;

	.dropdown {
		// $height: 362px; // whatever works best!
		$height: 408px; // whatever works best!
		$padding: 4px;

		position: absolute;
		margin: auto;
		top: -$height - 12px - $padding - $padding;
		height: $height;
		left: 0;
		right: 36px + 2px;
		border-radius: 4px;
		padding: $padding;

		background-color: #fff;
		color: #000;
	}
}

::ng-deep {
	.thin-input {
		.mat-form-field-infix {
			padding: 0.8em 0 0.6em 0 !important;
			border-top: 0 !important;
		}
		.mat-form-field-flex {
			padding: 0 0.5em 0 0.5em !important;
		}
		.mat-form-field-wrapper {
			padding: 0 !important;
			margin: 0 !important;
		}
		.mat-form-field-prefix {
			top: 0.5em !important;
			left: -0.1em !important;
		}
	}
	.small-icon-button {
		width: 32px !important;
		height: 32px !important;
		line-height: 32px !important;
	}
}
